table {width:100%;border-spacing: 2px;}
td, th {
	display: table-cell;
	vertical-align: middle;
}

/* Block : pageTitle
---------------------------------------------------------*/
#LblockPageTitle {
	background:url(../../Content/img/pageTitle_bg.gif) repeat-x scroll left bottom;
	margin-top:14px;
    padding-bottom: 5px;
}
#LblockPageTitle h1 {
	font-size:16px;
	font-weight:bold;
	padding:7px 0px 0px 5px;
	color:#377797;
}

#LblockPageHeader {
        height: 35px;
        margin: -10px 0 5px;
        position: relative;
    }

/* Block : pageSubtitle
---------------------------------------------------------*/
.LblockPageSubtitle h2 {
	height: 15px;
	font-family: Helvetica, Dotum;
	color: #555555;
	font-size: 13px;
	padding:0px;
	padding-top:5px;
	padding-left:5px;
	vertical-align:middle;
}

/* Block : pageLocation
---------------------------------------------------------*/
#LblockPageLocation {
	font-size:0.9em;
	padding:7px 0px 0px 0px;
}
#LblockPageLocation li {
	display:inline;
	margin-left:4px;
}
#LblockPageLocation li span {
	color:#3D9EDB;
	padding-left:11px;
	background:url(../../Content/img/pageLocation_separater.gif) no-repeat left top;
}
#LblockPageLocation li.Lfirst span {
	background:none;
}
#LblockPageLocation li span a {
	color:#727271;
}

/* Block : bodyMain
---------------------------------------------------------*/


/* Block : search
---------------------------------------------------------*/




/* Block : search
---------------------------------------------------------*/
#LblockSearch {
	background-color:#f7f8fa;
	border:solid 0px #BFDCEE;
    margin: 0 0 20px;
    height: 35px;
}
#LblockSearch div tr {
	height:20px !important;
}
#LblockSearch div {
	position:relative;
	min-height:1px; /* for calendar position (IE offsetLeft bug) */
}
* html #LblockSearch div {
	height:1px;
}
#LblockSearch div div div {
	padding:0px;
	/*border-top:1px solid #c2dbf9;
	border-bottom:1px solid #c2dbf9;*/
}
#LblockSearch th td {height:18px !important;}
#LblockSearch table {
	/*border-left: 2px solid white;
	border-right: 2px solid white;*/
}

#LblockSearch table caption {
	display:none;
}
#LblockSearch table th {
	height:30px !important;
	text-align:right;
	padding:0 6px 0 6px;
	white-space:nowrap;
	background-color:#F1F4F9;
	line-height:12px;
	font-weight:bold;
	margin-top:0px;
	margin-bottom:0px;
	color:#727272 !important;
	border: 1px solid #E6EBF3;
}
.LtextRight {
    font-size: 12px;
    line-height: 18px;
    text-align: right !important;
}
#LblockSearch table td {
	padding:4px;
	border: 1px solid #E6EBF3;
    background-color:white;
}
#LblockSearch input.Limage {
	position:absolute;
	right:12px;
	bottom:9px;
}

#LblockSearch table td img {
	margin:0 0 0 5px;
	vertical-align:middle;
	cursor:pointer;
}

/* Block : listTable
---------------------------------------------------------*/
.LblockListTable .Lwrapper {
	position:relative;
	width:100%;
}
.LblockListTable .LblockListInfo {
	position:relative;
	height:25px;
}
.LblockListTable .LblockListInfo span.Ltotal {
	position:absolute;
	left:2px;
	bottom:2px;
}
.Ltotal {
	font-family:helvetica;font-size:11px;
}
.LblockListTable .LblockListInfo span.Lsearch {
	position:absolute;
	right:2px;
	bottom:2px;
}
.LblockListTable table {
	border-collapse:collapse;
	width:100%;
	border-top:2px solid #cccccc;
}
.LblockListTable table caption {
	display:none;
}
.LblockListTable table th,
.LblockListTable table td {
	height:28px;
	padding:0px 5px;
	/*border-bottom:1px solid #CCCCCC;*/
	text-align:center;
	/*color:#727272;*/
}
.LblockListTable table th {
	white-space:nowrap;
	font-weight:bold;
	background-color:#eeeeee;
}
.LblockListTable table tbody tr.Lhover {
	background:#eed;
}
.LblockListTable ul {
	text-align:center;
	font-family:Tahoma;
	font-size:0.9em;
	margin-top:10px;
}
.LblockListTable li {
	display:inline;
	margin-left:5px;
}
.LblockListTable li span {
	font-weight:bold;
	color:#5EA5D5;
}
.LblockListTable li a {
	font-weight:normal;
	color:#666;
}
.LblockListTable li a:hover,
.LblockListTable li a:active {
	color:#5EA5D5;
}
.LblockListTable li.Lbegin a,
.LblockListTable li.Lend a {
	font-weight:bold;
}
.LblockListTable a.Lbtn3 {margin-right:3px;}
a.Lbtn3,
a.Lbtn3 * { height:19px; line-height:20px; position:relative; margin:0; padding:0; display:inline-block; text-decoration:none !important; border:0; font-family:Gulim; font-size:12px; white-space:nowrap; background:url(../../Content/img/btn_bg3.gif) no-repeat; vertical-align:top; overflow:visible; color:#333; }
a.Lbtn3 * { padding:0 5px 0 1px; background-position:right top; left:4px; cursor:pointer; }

/* Block : detail
---------------------------------------------------------*/
.LblockDetail table {
	width:100%;
	border-spacing: 0px;
	border:0px;
	border-top:2px solid #C2DBF9;
	border-bottom:2px solid #C2DBF9;
	border-left:2px solid #ffffff;
	border-right:2px solid #ffffff;
	padding:0 2px 0 2px;
}
.LblockDetail table caption {
	display:none;
}
.LblockDetail th,
.LblockDetail td {
	border:1px solid #e6ebf3;
	height:25px;
	padding:0 5px;
	color:#727272;
}
.LblockDetail th {
	background-color:#F1F4F9;
	font-weight:normal;
	text-align:right;
	white-space:nowrap;
}
.LblockDetail td textarea {
	margin:2px;
}

.LblockDetail table td img {
	margin:0 0 0 5px;
	vertical-align:middle;
	cursor:pointer;
}

/* Block : tab
---------------------------------------------------------*/
.LblockTab {
	background:url(../../Content/img/tab_bg.gif) repeat-x left bottom;
	height:26px;
}
.LblockTab li {
	float:left;
	background:url(../../Content/img/tab_l.gif) no-repeat;
	margin-left:0px;
}
.LblockTab li.Lcurrent {
	background-position:left -31px;
}
.LblockTab li span {
	display:block;
	background:url(../../Content/img/tab_r.gif) no-repeat right top;
}
.LblockTab li.Lcurrent span {
	background-position:right -31px;
}
.LblockTab li span a {
	display:block;
	line-height:31px;
	color:#ffffff;
	text-decoration:none;
	padding:0 10px 0 10px;
}
.LblockTab li.Lcurrent span a {
	font-weight:bold;
	color:#3476cd;
}
.LblockTab li span a:hover,
.LblockTab li span a:active {
	color:#5E8599;
}
.LblockTab li.Lcurrent span a:hover,
.LblockTab li.Lcurrent span a:active {
	color:#3476cd;
}

/* Block : tabArea
---------------------------------------------------------*/
/* Block : tree
---------------------------------------------------------*/
.LblockTree {
	border:1px solid #CCCCCC;
}
.LblockTree a {
	text-decoration:none;
}
.LblockTree a:link, .LblockTree a:visited {
	color:#646656;
}

/* Block : content
---------------------------------------------------------*/
.LblockContent {
	padding-left:5px;
}
.LblockContent ul {
	margin:5px 0;
}
.LblockContent li {
	padding-left:10px;
	background:url(../../Content/img/content_blt.gif) no-repeat left 5px;
}

/* Block : content2
---------------------------------------------------------*/
.LblockContent2 {
	padding-left:10px;
}
.LblockContent2 ul {
	margin:5px 0;
}
.LblockContent2 li {
	padding-left:7px;
	background:url(../../Content/img/content2_blt.gif) no-repeat left 7px;
}

/* Block : comment
---------------------------------------------------------*/
.LblockComment {
	color:#e00;
}

/* Block : button
---------------------------------------------------------*/
#LblockButton {
	position:relative;
	/*background:url(../../Content/img/button_bg.gif) repeat-x left top;*/
	text-align:right;
	margin:0 0 6px 0;
    overflow: hidden;
}
* html #LblockButton {
	height:1px;
}
#LblockButton span.Lleft {
	position:absolute;
	left:0;
}
#LblockButton a.Lbtn {
	margin-right:4px;
}
a.Lbtn,
a.Lbtn * { height:22px; /*line-height:24px;*/ position:relative; margin:0; padding:0; display:inline-block; text-decoration:none !important; border:0; /*font-family:Gulim; */font-size:12px; white-space:nowrap; background:url(../../Content/img/btn_bg1.gif) no-repeat; vertical-align:middle; overflow:visible; /*color:#323232;*/ margin-right:2px;}
a.Lbtn * { padding:0 14px 0 11px; background-position:right top; left:4px; cursor:pointer;  }

/* Block : subbutton
---------------------------------------------------------*/
.LblockSubbutton {
	text-align:right;
}
.LblockSubbutton a.Lbtn2 {
	margin-right:8px;
}
a.Lbtn2,
a.Lbtn2 * { height:20px; line-height:21px; position:relative; margin:0; padding:0; display:inline-block; text-decoration:none !important; border:0; font-family:Gulim; font-size:12px; white-space:nowrap; background:url(../../Content/img/btn_bg2.gif) no-repeat; vertical-align:top; overflow:visible; color:#333; }
a.Lbtn2 * { padding:0 14px 0 11px; background-position:right top; left:4px; cursor:pointer; }

/* Block : shuttleButton
---------------------------------------------------------*/
.LblockShuttleButton p {
	margin-bottom:6px;
}
.LblockShuttleButton img {
	cursor:pointer;
}

/* Block : error
---------------------------------------------------------*/
#LblockError {
	padding:28px 20px 28px 115px;
	border:5px solid #E0E0E0;
	background:url(../../Content/img/error.gif) no-repeat 25px 32px;
}
#LblockError div {
	padding:4px 20px;
	border-left:1px solid #E0E0E0;
}
#LblockError h1 {
	width:100%;
	overflow:hidden;
	height:0;padding-top:21px;
	margin-bottom:15px;
	background:url(../../Content/img/error_text.gif) no-repeat;
}
#LblockError p {
	line-height:20px;
}

/* Block : inform
---------------------------------------------------------*/
#LblockInform {
	padding:28px 20px 28px 115px;
	border:5px solid #E0E0E0;
	background:url(../../Content/img/inform.gif) no-repeat 25px 32px;
}
#LblockInform div {
	padding:4px 20px;
	border-left:1px solid #E0E0E0;
}
#LblockInform h1 {
	width:100%;
	overflow:hidden;
	height:0;padding-top:21px;
	margin-bottom:15px;
	background:url(../../Content/img/inform_text.gif) no-repeat;
}
#LblockInform p {
	line-height:20px;
}
.tools{
	text-align:right;
	margin-bottom:5px;
}