
@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UpdatePassword</h2>

@using (Html.BeginForm("UpdatePassword", "Anonymous", FormMethod.Get))
{
    @*<button type="submit">Update Password</button>*@
    @Html.TextBox("txtResult", (string)ViewBag.CountEmp.ToString())
}